h1 {
    color: sienna;
    font-family: Arial;
}

.class {
    font-family: Arial;
    font-size: 24;
}

.image {
    background-image: "banner_photo.jpg";
    background-size: cover;
    background-position: center;
    height: 300px;
  }