h1 {
    color: sienna;
    font-family: Arial;
}

body {
    font-family: Arial;
}

.image {
    background-image: "banner_photo.jpg";
    background-size: cover;
    background-position: center;
    height: 300px;
  }

.question {
    font-size: 324px;
    font-weight: bold;
}